@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0">
    <img src="https://one8.com/cdn/shop/files/Ode_to_cricket.jpg?v=1781820037&width=400"
         alt="Virat Kohli"
         class="img-fluid w-100 vh-100 object-fit-cover">
</div>