@model List<Supplies>

    <h2>Card For Supplies</h2>

@foreach (var sup in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="@("~./images/ishwar")" class="card-img-top" alt="...">
        <div class="card-body">
            <h5> Name @sup.name</h5>
            <p> Salary @sup.bounty</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}